{% extends 'base.html' %}
{% load static %}

{% block title %}About us | Politehnik orta okuw mekdebi{% endblock %}

{% block content %}
    <main>
        
            <h1>BIZ BARADA</h1>

        <div class="main container">
            <div class="about container">
                <img src={% static "img/about/about_15.jpg.png" %} alt="" width="626" height="416">
                <p>Politehniki orta hünär okuw mekdebi tejribe otaglar bilen üpjün edilen we häzirki wagtda okuwyň çäginde ussat aragatnaşykçy, kompýuter dünýäsi, logistika we operasion işi, mobil-öýjükli aragatnaşyk gurmak, demir bilen iş salyşmak ussat aragatnaşyk ýaly gurnaklar hereket edip, ýakyn wagtda täze tehnologiýalar zamanasy ýagny 5G, tor gurnama, distansion sebidi döretmek, müňden gowrak kitaply elektron kitaphanasy girizilýär.</p>
            </div>

            <div class="about container">
                <img src={% static "img/about/about_16.jpg.png" %} alt="" width="626" height="416">
                <div class="about-content">
                    <h2>Amatly umumy ýaşaýyş jaýy</h2>
                    <p>Umumy Ýaşaýyş jaýy häzirki wagtda 215 orunlyk ýer bilen üpjün edilen we onda ýaşaýyş üçin hemme şertler döredilen. Häzirki wagtda ol ýerde welaýatlardan 64 - sany talyp ýaşap, olardan: 21 sany oglan, 43 sany gyz bolup, Ahal welaýatyndan - 9 sany, Balkan welaýatyndan - 4 sany, Lebap welaýatyndan – 20 sany, Daşoguz welaýatyndan - 13 sany, Mary welaýatyndan- 16 sany talyp ýaşaýar.Orta hünär boýunça okaýan - 59 sany, başlangyç hünär boýunça okaýan - 5 sany talyp ýaşaýar. Umumy ýaşaýyş jaýynyň salgysy 2015 (A.Garryýew) köçesiniň 78-nji jaýy.</p>
                </div>
            </div>

            <div class="about container">
                <div class="about-content">
                    <h2>Politehniki orta hünär okuw mekdebinde aşakdaky hünärler boýunça orta bilimli hünärmenler taýýarlanylýar:</h2>
                    <ul class="about-list">
                        <li>Ykdysadyýet we meýilnamalaşdyryş (Aragatnaşyk pudagynda)</li>
                        <li>Logistikada operasion işi</li>
                        <li>Telekommunikasiýa ulgamlarynyň maglumat taýdan howpsuzlygy</li>
                        <li>Köp kanally telekommunikasiýa ulgamlary</li>
                        <li>Aragatnaşyk ýaýlymlary we kommunikasiýa ulgamlary</li>
                        <li>Kompýuter torlary</li>
                        <li>Aragatnaşyk operatory</li>
                        <li>Sanly maglumaty işläp taýýarlamak boýunça ussa</li>
                    </ul>
                </div>
            </div>

            <div class="about container">
                <img src={% static "img/about/about_17.jpg.png" %} alt="" width="626" height="416">
                <p>Politehniki orta hünär okuw mekdebinde jemi 465 sany talyp okap olardan: 128 oglan, 166 sany gelin-gyz bar. Aşgabat şäherinden - 292, Ahal welaýatyndan - 84, Balkan welaýatyndan - 11, Daşoguz welaýatyndan - 26, Lebap welaýatyndan - 25, Mary welaýatyndan - 27 sany talyp okaýar. Ondan başga-da, orta hünär okuw mekdebimizde “Aragatnaşygyň gurnamçysy” we “Tehniki howpsuzlyk we zähmeti goramak boýunça instruktor” hünärleri boýunça gysga möhletli okuwlar hem gurnalýar.Politehniki orta hünär okuw mekdebinde jemi 23 sany mugallym talyplara bilim berýär.</p>
            </div>

            <div class="about container">
                <img src={% static "img/about/about_18.png" %} alt="" width="626" height="416">
                <p>Sport komandamyzyň ady “Politehnikum”. Annamyradow, Baýramgeldiýew, Kambarow, we Gurbandurdyýew ýaly talyplarymyz ýurdumyzyň “Altyn asyr” futbol toparynda oýnaýarlar, galyberse-de, talyplaryň durmuşynda sportuň beýleki görnüşlerinden ýagny, mini-futbol, welosport, woleýbol ýaly sport toparlar döredilip, okuwyň çäginde dürli sport çäreler gyzykly we giňden geçirilýär.</p>
            </div>
        </div>
    </main>
    <!-- Burger -->
    <script src={% static "assets/js/burger.js" %}></script>
    
</body>
</html>
{% endblock %}