{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href={% static "assets/css/style.css" %}>
    <style>
        body {
            background: #b1d2ff;
        }
    </style>
</head>
<body>

    <div class="bg-shapes">
        <span class="floating block" style="top: 900px; left: 1250px; animation-delay: -4.5s;"><img src={% static "img/bg-shapes/Block_8x8x8_Super_Rounded.png" %} alt="" ></span>
        <span class="floating matrix" style="top: 1200px; left: 70px;"><img src={% static "img/bg-shapes/Block_Matrix_x 1.png" %} alt="" width="300"></span>
        <span class="floating cage" style="top: 1650px; left: 1300px; animation-delay: -2s;"><img src={% static "img/bg-shapes/Block_Cage.png" %} alt=""></span>
        <span class="floating cross" style="top: 1800px; left: 700px; animation-delay: -6s;"><img src={% static "img/bg-shapes/Block_Cross_3D.png" %} alt=""></span>
        <span class="floating atom-cube" style="top: 1900px; animation-delay: -3s;"><img src={% static "img/bg-shapes/Atom_Cube.png" %} alt=""></span>
        <span class="floating atom-tetra" style="top: 2400px; left: 1120px; animation-delay: -8s;"><img src={% static "img/bg-shapes/Atom_Tetra.png" %} alt=""></span>
        <span class="floating fractal" style="top: 2400px; animation-delay: -12s;"><img src={% static "img/bg-shapes/Fractal_Cube.png" %} alt=""></span>
    </div>

    <div class="bg-shapes mobile">
        <span class="floating block" style="top: 800px; left: 200px; animation-delay: -4.5s;"><img src={% static "img/bg-shapes/Block_8x8x8_Super_Rounded.png" %} alt=""></span>
        <span class="floating matrix" style="top: 1100px; left: 10px;"><img src={% static "img/bg-shapes/Block_Matrix_x 1.png" %} alt=""></span>
        <span class="floating cage" style="top: 1400px; left: 150px; animation-delay: -2s;"><img src={% static "img/bg-shapes/Block_Cage.png" %} alt=""></span>
        <span class="floating cross" style="top: 1800px; left: 200px; animation-delay: -6s;"><img src={% static "img/bg-shapes/Block_Cross_3D.png" %} alt=""></span>
        <span class="floating atom-cube" style="top: 2000px; animation-delay: -3s;"><img src={% static "img/bg-shapes/Atom_Cube.png" %} alt=""></span>
        <span class="floating atom-tetra" style="top: 2300px; left: 200px; animation-delay: -8s;"><img src={% static "img/bg-shapes/Atom_Tetra.png" %} alt=""></span>
        <span class="floating fractal" style="top: 3400px; animation-delay: -12s;"><img src={% static "img/bg-shapes/Fractal_Cube.png" %} alt=""></span>
    </div>
    <nav>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" class="burger" id="burger">
            <path d="M2 2H26" stroke="#fff" stroke-width="4" stroke-linecap="round"/>
            <path d="M2 12H26" stroke="#fff" stroke-width="4" stroke-linecap="round"/>
            <path d="M2 22H26" stroke="#fff" stroke-width="4" stroke-linecap="round"/>
        </svg>

        <ul class="navlist">
            <li class="navlist-item"><a href={% url 'home' %}>BAŞ SAHYPA</a></li>
            <li class="navlist-item"><a href={% url 'abiturientlar' %} class="selected">DALAŞGÄR ÜÇIN</a></li>
            <li class="navlist-item"><a href={% url 'meyilnamalar' %}>OKUW MEÝILNAMALAR</a></li>
            <li class="navlist-item"><a href={% url 'habarlar' %}>HABARLAR</a></li>
            <li class="navlist-item"><a href={% url 'about' %}>BIZ BARADA</a></li>
            <li class="navlist-item"><a href={% url 'contacts' %}>HABARLAŞMAK ÜÇIN</a></li>
        </ul>

        <div class="logo">
            <div class="logo-item">
                <h2>"Türkmenaragatnaşyk"</h2>
                <p>agentligi</p>
            </div>
            <div class="logo-item">
                <img src={% static "img/gerb.png" %} alt="">
            </div>
            <div class="logo-item">
                    <h1>Politehniki</h1>
                    <p>orta hünär okuw mekdebi</p>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="footer-columns">
            <div class="column">
                <h1>Politehniki orta hünär okuw mekdebi</h1>
                <ul class="footer-list">
                    <li class="footer-list-item"><a href={% url 'home' %}>Baş sahypa</a></li>
                    <li class="footer-list-item"><a href={% url 'abiturientlar' %}>Dalaşgär üçin</a></li>
                    <li class="footer-list-item"><a href={% url 'meyilnamalar' %}>Okuw meýilnamalar</a></li>
                    <li class="footer-list-item"><a href={% url 'about' %}>Biz barada</a></li>
                </ul>
            </div>

            <div class="column">
                <h1>Habarlaşmak üçin</h1>
                <ul class="footer-list">
                    <li class="footer-list-item">Adres: Aşgabat şäheri, 2029 köçe j. 64</li>
                    <li class="footer-list-item">Telefon: +993 12 34-58-00</li>
                    <li class="footer-list-item">Telefon: +993 12 34-69-59</li>
                    <li class="footer-list-item">Email: </li>
                    <li class="footer-list-item">Info@politehnikum.edu.tm</li>
                </ul>
            </div>
        </div>
        <section class="bottom"><p>Politehniki orta hünär okuw mekdebi. Ähli hukuklar goralan.</p></section>
    </footer>