{% extends 'base.html' %}
{% load static %}

{% block title %}Habarlar | Politehnik orta okuw mekdebi{% endblock %}

{% block content %}
    <main>
        <h1>HABARLAR</h1>
        <div class="news habarlar">

            <ul class="news-list">
                <li class="list-item selected">Politehniki habarlar</li>
                <li class="list-item">Syýasat</li>
                <li class="list-item">Medeniýet</li>
                <li class="list-item">Sport</li>
            </ul>

            {% for new in news %}
            <div class="news-item">
                <div class="inside-news-item">
                    <img src={% static "img/main/news/turkmenaragatnasyk-agentliginin-politehniki-orta-hunar-okuw-mekdebi.jpg" %} alt="">
                    <div class="news-content">
                        <div class="subtitle">
                            <p>30.10.2023</p>
                            <p>Politehniki habarlar</p>
                        </div>
                        <p>“Türkmenaragatnaşyk” agentliginiň Politehniki
                            orta hünär okuw mekdebi</p>
                        <p>“Türkmenaragatnaşyk” agentliginiň Politehniki orta hünär...</p>
                        <a href={% url 'more_news' new.slug %} class="btn">giňişleýin</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
    <!-- Burger -->
    <script src={% static "assets/js/burger.js" %}></script>

    <script>
    
        const changeBtn= document.getElementsByClassName('habarlar')[0].getElementsByClassName('list-item');
        let selectedItem = document.getElementsByClassName('habarlar')[0].getElementsByClassName('selected')[0];
    
        for (let item of changeBtn) {
            item.addEventListener('click', (e) => {
                selectedItem.classList.toggle('selected');
                selectedItem = item;
                item.classList.toggle('selected');
            })
        }
    
        </script>
</body>
</html>
