{% extends 'base.html' %}
{% load static %}

{% block title %}Giňişleýin | Politehnik orta okuw mekdebi{% endblock %}

{% block content %}
    <main>
        <h1>HABARLAR</h1>

        <div class="more-news container">

            <h2 class="main-heading">
                “Türkmenaragatnaşyk” agentliginiň Politehniki orta hünär okuw mekdebinde Halkara Bitaraplyk güni mynasybetli çäre geçirild“
            </h2>
            <div class="overlay"><img src={% static "img/more-news_img.jpg" %}alt="" class="more-news_img"></div>
            <p class="date">09.12.2023</p>

            <p class="content">
                TÜRKMENISTANYŇ PREZIDENTI SERDAR BERDIMUHAMEDOWYŇ
                <br>
                <br>
                -BIZ TÜRKMENISTAN ATLY BEÝIK DÖWLETDE, PARAHAT WE ARASSA ASMANYŇ ASTYNDA, UZAK HEM-DE BAGTYÝAR DURMUŞDA ÝAŞAMALYDYRYS, ABADAN WE GÜL ÝALY DURMUŞYMYZA BUÝSANMALYDYRYS.
                -BU ÝURT BIZIŇ WATANYMYZDYR!
                - BU ÝER BIZIŇ MÄHRIBAN TOPRAGYMYZDYR!
                -BIZ ATA-ENELERIMIZIŇ WE MAŞGALANYŇ MUKADDESLIGINI ARŞA GÖTERÝÄN HALKDYRYS!
                diýip belleýşi ýaly biziň halkymyz parahat, abadan hem bagtyýar durmuşda ýaşaýar. Ata Watantmyzda parahatçylyk söýüjilikli daşary syýasaty durmuşa geçirilýär. Türkmenistanyň baky Bitaraplygy BMG-nyň resminamasynda kesgitlenişi ýaly, dünýäde parahatçylygy gorap saklamak we ony berkitmek maksatlaryna gulluk edýär.
                <br>
                <br>
                Bilşimiz ýaly, 1995-nji ýylyň 12-nji dekabrynda Birleşen Milletler Guramasynyň Baş Assambleýasynda “Türkmenistanyň hemişelik Bitaraplygy” hakda Rezolýusiýa kabul edilipdi. Şonda şol wagtky agzalary bolan 185 döwlet Türkmenistanyň hemişelik Bitaraplyk derejesini biragyzdan ykrar etdiler. Bitarap döwlet bolanymyz bäri, biziň dostluk-doganlyk gerimimiz giňedi. Şonuň netijesinde ýurdumyzda halkara ylmy-amaly maslahatlar, forumlar, daşary döwletleriň medeni günleri, daşary döwletlerde türkmen medeniýet günleri yzygiderli geçirilip durulýar.
                <br>
                <br>
                Her ýylyň 12-nji dekabrynda Halkara Bitaraplyk gününiň bellenilmeginiň çuňňur manysy bar. Garaşsyz Watanymyzyň kuwwatlanmagynda, dünýäde tanalmagynda, onuň halkara bileleşiginde uly abraýdan peýdalanmagynda Bitaraplygyň ähmiýeti örän uludyr.
                <br>
                <br>
                Bitaraplyk – agzybirligiň, abadançylygyň, asuda ýaşaýşyň ýagty gelejegiň kepilidir.
                Bitaraplyk parahatçylygy we howpsuzlygy berkitmäge we ornaşdyrmaga mümkinçilik berýär. Döwlet Baştutanymyzyň öňdengörüjilikli diplomatik strategiýany üstünlikli durmuşa geçirmegi netijesinde, Türkmenistan netijeli ikitaraplaýyn we köptaraplaýyn gatnaşyklary alyp barýar.
                Hormatly Prezidentimiz Serdar Berdimuhamedowyň baştutanlygynda Türkmenistanyň Garaşsyzlygynyň şanly 32 ýyllyk toýy hem uly dabara bilen bellenilip geçildi. Gahryman Arkadagymyz hem özüniň “Garaşsyzlyk – bagtymyz” diýip atlandyran eserinde dünýäniň ähli ýurtlaryny birleşdirmäge gönükdirilen belent maksatlary mundan beýläk-de amala aşyrmagyň mümkinçilikleri hemmetaraplaýyn beýan edýär. Biz bu kitaby okap, parahatçylygyň, öňe gitmegiň, we ähli adamzadyň ýagty geljeginiň hatyrasyna halklary birleşdirýän pikirleriň ähmiýetini okyjylara açyp görkezilýändigine göz ýetirdik.
                <br>
                <br>
                Biz Hemişelik Bitaraplyk hukuk ýörelgesiniň ýurdumyza ykdysady taýdan gülläp ösüş ýoly bilen ynamly gitmäge mümkinçilik berip, häzirki we geljekki nesilleriň bagtyýar hem-de abadan durmuşynyň binýadyna öwrülendigini aýdyň görýäris.
                Eziz Diýarymyzda Bitaraplygyň baýramy 2015-nji ýyldan bäri halkara döwlet derejesinde bellenilip geçilýär.
                Halkara Bitaraplyk güni we Türkmenistanyň hemişelik Bitaraplygynyň 28 ýyllygy mynasybetli, ýurdumyzyň Magtymgyly adyndaky Ýaşlar guramasynyň Merkezi Geňeşi we Türkmenistanyň bedenterbiýe we sport baradaky Döwlet komitetiniň bilelikde sport bäsleşiklerini hem-de döredijilik bäsleşikleriniň ýokary we ýörite orta bilim edaralarynda geçirilmegi Berkarar döwletiň täze eýýamynyň Galkynyşy döwründe Arkadag Serdarly bagtyýar ýaşlar ýylynda sagdyn hem ruhybelent ýaşlaryň kemala gelmegine, aýratyn hem talyplaryň döredijilik ukyplaryny kämilleşdirmegine ruhlandyrdy.
                <br>
                <br>
                Türkmen halkynyň parahat durmuşda ýaşamagy, ýaş nesillerimiziň döwrebap bilim-terbiýe almaklary üçin aladalary edýän Türkmen halkynyň Milli Lideri, Türkmenistanyň Halk Maslahatynyň başlygy Gahryman Arkadagymyzyň, Arkadagly Gahryman Serdarymyzyň janlary sag, ömürleri uzak bolsun, alyp barýan il-ýurt bähbitli işleri rowaçlyklara beslensin! Baýramyňyz gutly bolsun!
            </p>
        </div>
    </main>
    <!-- Burger -->
    <script src={% static "assets/js/burger.js" %}></script>
    <script>
        const changeBtn= document.getElementsByClassName('habarlar')[0].getElementsByClassName('list-item');
        let selectedItem = document.getElementsByClassName('habarlar')[0].getElementsByClassName('selected')[0];
    
        for (let item of changeBtn) {
            item.addEventListener('click', (e) => {
                selectedItem.classList.toggle('selected');
                selectedItem = item;
                item.classList.toggle('selected');
            })
        } 
        </script>
</body>
</html>

{% endblock %}